@CHARSET "ISO-8859-1";

body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 100%;
    text-align: left;
    background-color: ghostwhite;
}

h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
}

#nav-bar {
    font-family: "Courier New", "Lucida Console", monospace;
    font-size: 1.25em;
    font-weight: bold;
    border-right: 1px solid white;
    background-color: #246393;
}

ul.nav {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li.nav {
    float: left;
}

li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover:not(.active-nav-bar).nav {
    background-color: #013E6E;
}

.active-nav-bar {
    background-color: #E05A00;
}