@CHARSET "ISO-8859-1";
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Console", monospace;
    font-size: 100%;
    text-align: left;
    background-color: ghostwhite;
}

h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: bold;
}

p {
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
}

#nav-bar {
    font-family: "Lucida Console", monospace;
    font-size: 20px;
    font-weight: normal;
    background-color: #246393;
    height: 60px;
}

#nav-bar ul {
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    border-right: 2px ghostwhite;
    padding: 18px 20px;
}

#nav-bar li a:hover:not(.active-nav-bar) {
    background-color: #013E6E;
}

.active-nav-bar {
    background-color: #E05A00;
}
